<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap_final.min.css">
        <link rel="stylesheet" href="/static/main_final.css">
        <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/static/jquery-1.12.3.min.js"></script>
    </head>
    <script>

        function showDiv() {
            localStorage.setItem('show', 'true'); //store state in localStorage
            var reqIngs = $('input#').val(); 
            var all_ings = $('input#ingredients').val();
            localStorage.setItem('ingredients', all_ings);
        }

        function findSimilar(srName){
            document.getElementById('srName').value = srName;
            document.getElementById("search").click();
        }

        window.onload = function() {
            var show = localStorage.getItem('show');
            if(show === 'true'){
                 document.getElementById('output').style.display = "block";
            }
            var all_ings = localStorage.getItem('ingredients');
            if (all_ings != null && all_ings != "") {
                $.each(all_ings.split(","), addIng);
                $('input#ingredients').val(all_ings);
            }
            $('#rush').prop("checked", false);
        }

        function removeIng(elm) {
            $(elm).parent().remove()
            var ings = $('ul#all-ings li').map(function(i,n) {
                                                    return $(n).children().eq(0).text();
                                                }).get().join(',');
            $('input#ingredients').val(ings);
            localStorage.setItem('ingredients', ings);

        }

        function addIngs() {
            var ings = $('#input').val().split(",");
            console.log(ings);
            if (ings.length > 0) {
                $.each(ings, addIng);
                var ings = $('ul#all-ings li').map(function(i,n) {
                                                        return $(n).children().eq(0).text();
                                                    }).get().join(',');
                $('input#ingredients').val(ings);
                $('#input').val("");
            }
            var all_ings = $('input#ingredients').val();
            localStorage.setItem('ingredients', all_ings);
        }

        function addIng(index, ing) {
            var text = '<p>' + ing.trim() + '</p>' + '<button id="x" class="btn btn-info" title="Click to remove"onclick="removeIng(this);">x</button><input onclick="requireIng()" id="req" name="req" type="checkbox" value="1">';
            $('<li />', {html: text}).appendTo('ul#all-ings');
        }

        function requireIng() {
            var requiredIng = [];
            $("#all-ings input[type=checkbox]").each(function(){
                if (this.checked){
                    requiredIng.push(1);
                }else{
                    requiredIng.push(0);
                }
            })
            document.getElementById('reqIng').value = requiredIng;
        }

    </script>
    
    <body>
        <div class="topcorner">
            <p>
                Recipe Recommender <br>
                Victoria Yang (vzy2) | Daniel Douvris (dpd63) | Sahana Vijaykumar (sv387) | Prava Samad (pts54)
            </p>
        </div>

        <div id="header">
                <h1> Sharp<font id='logo'>chef</font> </h1>
        </div>
        <div class="col-md-5">
            <div id='form'>
                <form class="form-inline global-search" method='GET'>
                    <h3>Add your ingredients!</h3>
                    <br><br>
                    <div class="form-group">
                        <input id="input" type="text" class="form-control typeahead" placeholder="Your Ingredient List (comma separated)">
                        <input id="ingredients" name="ingredients" type="text" style="display:none;">
                        <input id="srName" name="srName" type="text" style="display:none;">
                        <input id="reqIng" name="reqIng" type="text" style="display:none;">
                    </div>
                    <button id="add" onclick="addIngs();" type="button" class="btn btn-info"> + </button>
                    <br>
                    <div class="form-group">
                        <p>In a rush? </p>
                        <input id="rush" name="rush" type="checkbox" value="1">
                    </div>
                    <br>
                    <h3 id='yourings'>Your Ingredients: </h3>
                <div id='inglist'>
                    <ul id="all-ings">
                    </ul>
                </div>
                <button id="search" onclick="showDiv();" type="submit" class="btn btn-info"> GO! </button>
                </form>
            </div>
        </div>

        {% if output == "" %}
        <script>
            localStorage.setItem('show', 'false');
            out = document.getElementById('output')
            if (out != null) {
                out.style.display = "none";
            }
        </script>
        {% endif %}

        <div class="col-md-7">
            <div id='output' class="form-inline global-search" style="display:none;">
                {% if output == "None" %}
                    <h4>No Matched Recipes :(</h4><br>
                {% else %}
                    <h3>Recipes</h3><br>
                    {% for line in output %} 
                        {% if line.diff == "None" or line.diff == "" %}                        
                        <a id='r_links' target="_blank" href="http://allrecipes.com/recipe/{{line.code}}/{{line.tag}}">&#10025&#10025{{line.name}}&#10025&#10025</a>
                        {% else %}
                        <a id='r_links' target="_blank" href="http://allrecipes.com/recipe/{{line.code}}/{{line.tag}}">{{line.name}}</a>
                        {% endif %}                       
                        <br>
                        <p>Have: {{line.match}}</p><br>
                        {% if line.diff == "None" or line.diff != "" %}
                        <p>Need: {{line.diff}} </p><br>
                        {% endif %} 
                        <p>Rating: {{line.rating}} - </p>
                        <button onclick="findSimilar(this.value);" type="submit" class="btn btn-similar" value="{{line.name}}"> 
                            Find Similar?</button> <br/>
                    {% endfor %}
                
                    <div class="pagination">
                        <span class="step-links">
                            {% if output.has_previous %}
                            <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>                        
                            {% endif %}
                            
                            <!-- Showing the page numbers in Html Page -->
                            <span class="current">
                            Page {{ output.number }} of {{ output.paginator.num_pages }}
                            </span>
                            
                            {% if output.has_next %}
                            <a id ='step_links' href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>

